

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Wrapper {
  margin-top: 15rem;
}

.App {

  text-align: center;
  background: linear-gradient(#747ee9, #ffffff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chapterInput {
  width: 12rem;
  height: 2rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s;
  font-size: large;
}

.chapterInput:focus {
  outline: none;
  border: 2px solid #a2cdff;
  box-shadow: 0 0 8px #a2cdff;
}

.chapterInput::placeholder {
  color: #808080;
}

.h1 {
  margin-bottom: 10rem;
}

