* ::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in Chrome, Safari, and Opera */
}

.Wrapper {
  z-index: 0;
  margin-top: 10%;
  margin-bottom: 15%;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.HomePage {
  text-align: center;
  background-image: url("wallpaperflare.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chapterInput {
  width: 12rem;
  height: 2rem;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px 0 0 8px;
  transition: all 0.2s;
  font-size: large;
  transition: width 0.5s;
}

.chapterInput:focus {
  outline: none;
}

.chapterInput::placeholder {
  color: #808080;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.titleimg {
  width: 50%;
  height: 50%;
  margin-bottom: 5%;
}

.go {
  background-color: rgb(83, 179, 83);
  padding: 10px;
  height: 55px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 0 8px 8px 0;
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.go:hover {
  background-color: rgb(53, 145, 53);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.go:active {
  transform: translateY(1.5px);
  box-shadow: none;
}

.img {
  filter: blur(6px);
  transition: filter 0.2s;
}

@media (min-width: 280px) and (max-width: 767px) {
  img {
    width: 98vw;
    height: 98vh;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img {
    max-width: 98%;
    max-height: 98%;
  }
}

img:hover {
  filter: none;
}

.newChapter,
.LCBtn {
  z-index: 999;
  color: #ffffff;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0.35rem 2rem 0.35rem;
  cursor: pointer;
  transition: all 0.15s;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transform: scale(1);
  border-radius: 3px;
}

.newChapter {
  background-color: #bd4242;
  text-shadow: #8a2e2e 2px 2px;
}

.LCBtn {
  background-color: #8f91e7;
  text-shadow: #7374b8 2px 2px;
}

.newChapter:hover {
  background-color: #993333;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.LCBtn:hover {
  background-color: #6b6de2;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.newChapter:active,
.LCBtn:active {
  box-shadow: none;
  transform: translateY(1px);
}
